/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
h1,h2{
	text-align:center;
}
.player_one{
  background-color:white;
  height:110px;
  padding:5px;
  border-radius:5px; 
}
li{
  text-decoration:none;
  color:black;
}

.player_two{
 background-color:white;
 text-align: center;
 margin:0px 150px 0px 150px;
padding:10px;
 border-radius:5px;
}